@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&display=swap');
* {
margin: 0;
font-family: 'Onest', sans-serif;
padding: 0;
transition: all 0.3s ease;
}
.window {
width: 100vw;
height: 90vh;
margin: 0;
border: none;
}
#url {
position: absolute;
left: 0;
right: 0;
top: 50px;
display: flex;
flex-direction: row;
gap: 5px;
align-items: center;
justify-content: center;
}
#urlAdress {
width: 900px;
height: 30px;
padding-left: 10px;
border: none;
border-radius: 13px;
background-color: #585858;
font-size: 24px;
&::placeholder {
color: #bebebe;
}
}
#header {
position: sticky;
border-bottom: solid black 5px;
z-index: 999;
height: 10vh;
background-color: rgb(255, 255, 255);
color: black;
}
#header.dark {
background-color: rgb(123, 123, 123);
color: white;
}
#buttons {
display: flex;
gap: 5px;
margin-top: 5px;
flex-direction: row;
}
#search {
position: absolute;
left: 1370px;

background: transparent;
border: none;
}
h1 {
text-align: center;
}
button {
min-width: 40px;
min-height: 20px;
max-width: 70px;
max-height: 40px;
background: transparent;
border: none;
}
#back {
min-width: 60px;
min-height: 30px;
max-width: 70px;
max-height: 40px;
background: transparent;
border: none;
}
iframe {
background-color: rgb(72, 72, 72);
}
#sites{
display: flex;
justify-content: left;
flex-direction: row;
border-bottom: solid black 3px;
width: auto;
height: 40px;
gap: 5px;
background-color: rgb(74, 74, 74);
}
.sites {
background-color: rgb(107, 107, 107);
border-radius: 7px;
}
#plus {
width: 50px;
height: 50px;
margin: 0;
background: transparent !important;
border: none;
transition: all 0.5s ease;
cursor: pointer;
}
.site {
min-width: 150px;
border: solid black 3px;
border-radius: 7px;
background-color: rgb(107, 107, 107);
}
.close {
margin-top: 0;
margin-left: 0;
}
@media(max-width: 780px) {
#urlAdress {
position: absolute;
right: 5px;
font-size: 14px;
width: 200px;
height: 20px;
}
#sites {
height: 30px;
}
#search {
top: -11px;
margin: 0;
padding: 0;
left: 383px;
}
#header {
height: 30px;
background: transparent;
border: none;
position: sticky;
}
#buttons {
display: flex;
z-index: 999;
gap: 5px;
margin-top: 0;
flex-direction: row;
}
#Home {
min-width: 30px;
min-height: 10px;
max-width: 60px;
max-height: 30px;
transition: all 0.3s ease;
}
#back {
border: none;
min-width: 60px;
min-height: 30px;
max-width: 70px;
max-height: 40px;
}
#reload {
min-width: 40px;
min-height: 20px;
max-width: 70px;
max-height: 40px;
}

}